@import "./../../../css/variables";

.note {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 300px;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	background-color: $white;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
	box-sizing: border-box;

	&Title {
		padding: 5px 10px;
		font-weight: bold;
		font-size: 16px;
	}

	&Text {
		min-height: 30px;
		padding: 12px 15px 15px 15px;
		font-size: 48px;
		font-weight: 100;
		line-height: 60px;
		white-space: pre-wrap;
	}

	&Selected {
		border: 3px solid grey;
	}
}

.upperControls {
	display: flex;
	justify-content: space-between;
}